.title{
    border:transparent;
    background: #ecf2f9;
}

.center{
    border:1px solid gray;
}

.general{
    background: #ecf2f9;
}

.top{
    margin-top: 40px;
}
.text-center{
    margin-top: 30px;
}

.card-deck{
    background: #ecf2f9;
    margin-left: 0px;
    margin-right: 0px;
}
.btn{
    background: #c8d9eb;
}

/*.second{
    width: 690px;
    height: 861.516px;
    padding-right: 0px;
    padding-left: 0px;
}*/

.second{
    padding-right: 0px;
    padding-left: 0px;
}



