<nav class="navbar navbar-light">
    
        <div class="mx-auto" style="width: 200px;">
          <div class="contacto">Contáctanos

              <span><a href ="https://www.facebook.com/" target="_blank"><img  src="https://img.icons8.com/color/50/000000/facebook.png"></a></span>
              <span><a href ="https://www.instagram.com/?hl=es-la" target="_blank"><img src="https://img.icons8.com/dusk/50/000000/instagram-new.png"></a></span>
              <span><a href ="https://twitter.com/?lang=es" target="_blank"><img src="https://img.icons8.com/color/50/000000/twitter.png"></a></span>
              <span><a href ="https://mail.google.com/mail/u/0/#inbox" target="_blank"> <img src="https://img.icons8.com/color/50/000000/gmail.png"></a></span>
          </div>
        </div>    
        
</nav>
 


  