<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="https://img.icons8.com/material/50/000000/facebook-f.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Fundación Inspirando Talento
    <img src="https://img.icons8.com/wired/64/000000/handshake-heart.png">
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                  Misión
                </div>
                <div class="card-body text">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
      </div>
    </div>

    <div class="col-sm-6">
      
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                  Visión
                </div>
                <div class="card-body text">
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
       </div>
      
    </div>
  </div>

  <div class="row">
      <div class="col-sm-6">
        
          <div class="card-body">
              <div class="card text-center top">
                  <div class="card-header">
                    Filosofía
                  </div>
                  <div class="card-body text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
              </div>
          
        </div>
      </div>
  
      <div class="col-sm-6">
        
          <div class="card-body">
              <div class="card text-center top">
                  <div class="card-header ">
                    Alcance
                  </div>
                  <div class="card-body text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
              </div>
         </div>
       
      </div>
    </div>


        

</div>


  