<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="https://img.icons8.com/material/24/000000/pinterest.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Proyecto Inspirando Talento
    <img src="https://img.icons8.com/wired/64/000000/handshake-heart.png">
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                  Misión
                </div>
                <div class="card-body text">
                  <p class="card-text"> Apoyar a 60 jóvenes del internado Don Bosco de la cuidad de Medellín a potenciar sus talentos.</p>
                </div>
            </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card-body">
            <div class="card text-center">
                <div class="card-header">
                  Visión
                </div>
                <div class="card-body text">
                  <p class="card-text"> En 2022, ser un proyecto sostenible con la capacidad de ayudar a desarrollar más jóvenes en la ciudad.</p>
                </div>
            </div>
       </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <div class="card-body">
              <div class="card text-center top">
                  <div class="card-header">
                    Filosofía
                  </div>
                  <div class="card-body text">
                    <p class="card-text">Nuestra filosofía está basada en  principios  de solidaridad,  sentido de comunidad pero principalmente pertenencia, para así generar empatía  y formar una familia unida.</p>
                  </div>
              </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card-body">
              <div class="card text-center top">
                  <div class="card-header ">
                    Alcance
                  </div>
                  <div class="card-body text">
                    <p class="card-text">Transformar  la perspectiva de 60  jóvenes en cuanto a su proyecto de vida por medio del desarrollo de proyectos en las seis líneas de enfoque.</p>
                  </div>
              </div>
         </div>
      </div>
    </div>
</div>


  